{% extends "blog/base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-2 blog-sidebar">
		<div class="sidebar-module">
			<h4>Categories</h4>
			<ol class="list-unstyled">
				{% for category in categories %}
					<div class="category" ><button class="btn btn-info btn-default">{{category}}</button>
						
							{% for thread in category.thread_set.all %}
								<a href="{% url 'blog:thread' thread.id%}" class="thread">{{thread.title}}</a>
							{% endfor %}
						
					</div>
				{% endfor %}
			</ol>
		</div>


	</div>

	
	<div class="col-sm-9 col-sm-offset-1 blog-main">
	{% for record in latest_records %}	
		{% include "blog/blog_entry.html" %} 
	{% endfor %}
	</div>
</div>


{% endblock %}