{% extends "blog/base.html" %}

{% block content %}


	{% include "blog/blog_entry.html" %} 

	
	{% for comment in comments %}	
		<div class="container comment" >
			<h3 class="col-sm-offset-2" >{{comment.author}} </h3><p>{{comment.text}}</p>
		</div>
	{% endfor %}
	

	<form action="{% url 'blog:record' record.pk%}" method="POST" role="form">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="col-sm-offset-2 form-group col-sm-4" >
			{{ form.author.errors}}
			<input id="form.author.id_for_label" type="text" name="form.author.name" maxlength="30" placeholder="{{ form.author.label }}" ></input>
		</div>

		<div class="col-sm-offset-2 form-group col-sm-4" >
			{{ form.author_email.errors}}
			<input id="form.author_email.id_for_label" type="text" name="form.author_email.name" maxlength="75" placeholder="{{ form.author_email.label }}" ></input>
		</div>

		<div class="form-group col-sm-12" >
			{{ form.text.errors}}
		
			<textarea id="{{form.text.id_for_label}}" name="{{form.text.name}}" placeholder="{{ form.text.label }}" rows="5"></textarea>
		</div>		
		<div class="form-group  col-sm-12" >
			<input type="submit" class="btn btn-default" value="Add comment">
		</div>
	</form>

{% endblock %}